@model Domain.Entities.Match

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły meczu @Model.HomeClub.Name - @Model.AwayClub.Name</h2>

<div class="col-lg-2">

    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Gospodarze:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeClub.Name)
        </dd>

        <dt>
            @Html.Label("Goście:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayClub.Name)
        </dd>
        <dt>
            @Html.Label("Bramki gospodarzy: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeGoals)
        </dd>

        <dt>
            @Html.Label("Bramki gości:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayGoals)
        </dd>



    </dl>
</div>
<div class="col-lg-2">
    <h4>Zdarzenia: </h4>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.MatchId }) |*@
    @Html.ActionLink("Powrót", "Index", "Match", null, new{@class="btn btn-success"})
</p>
