@model Domain.Entities.Match

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły meczu @Model.HomeClub.Name - @Model.AwayClub.Name</h2>

<div class="col-md-4">

    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Gospodarze:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeClub.Name)
        </dd>

        <dt>
            @Html.Label("Goście:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayClub.Name)
        </dd>
        <dt>
            @Html.Label("Bramki gospodarzy: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeGoals)
        </dd>

        <dt>
            @Html.Label("Bramki gości:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayGoals)
        </dd>



    </dl>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.MatchId }) |*@
        @Html.ActionLink("Lista meczów", "Index", "Match", null, new {@class = "btn btn-success"})
    </p>
</div>

<!---TODO Dodać zależność wyświetlania zdarzeń od tego, czy istnieją-->
<hr/>
<div class="col-md-8">
    <h4>Zdarzenia:

    </h4>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Minuta
            </th>
            <th>
                Klub
            </th>
            <th>
                Zawodnik
            </th>
            <th>
                Typ
            </th>
            
        </tr>
        @{
            foreach (var item in Model.Events)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Club.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Player.Name)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Kind.Name)
                    </th>
                    <td>
                        @Html.ActionLink("Usuń", "Delete", "Event", new{id = item.EventId}, new{@class="btn btn-danger"})
                    </td>
                </tr>
            }
        }
    </table>
    @{
        if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Dodaj zdarzenie", "Create", "Event", new {matchId = Model.MatchId}, new {@class = "btn btn-success"})
        }
    }
</div>

