@model IEnumerable<Domain.Entities.Match>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeClubId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayClubId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeClubId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayClubId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatchId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatchId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatchId })
        </td>
    </tr>
}

</table>
