@model Domain.Entities.Event

@{
    ViewBag.Title = "Create";
}

<h2>Nowe zdarzenie</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Minuta: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time)
                @Html.ValidationMessageFor(model => model.Time)
            </div>
        </div>

        @*<div class="form-group">
                @Html.ValidationMessageFor(model => ViewBag.matchId)

        </div>*@

        <div class="form-group">
            @Html.Label("Klub:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClubId", String.Empty)
                @Html.ValidationMessageFor(model => model.ClubId)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Zawodnik:" ,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlayerId", String.Empty)
                @Html.ValidationMessageFor(model => model.PlayerId)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Typ zdarzenia: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EventKindId", String.Empty)
                @Html.ValidationMessageFor(model => model.EventKindId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" name="matchId" value="@ViewBag.MatchId"/>
                <input type="submit" value="Dodaj" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Szczegóły meczu", "Details", "Match", new{Id = @ViewBag.MatchId}, new{@class= "btn btn-success"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
