@model Domain.Entities.Event

@{
    ViewBag.Title = "Usuwanie zdarzenia";
}

<h2>Usuwanie zdarzenia z meczu @Model.Match.HomeClub.Name - @Model.Match.AwayClub.Name</h2>

<h3>Czy napewno chcesz usunąć to zdarzenie?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.Label("Minuta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.Label("Klub")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.Name)
        </dd>

        <dt>
            @Html.Label("Typ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kind.Name)
        </dd>

        <dt>
            @Html.Label("Zawodnik")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.Name)
        </dd>

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Tak" class="btn btn-success" /> 
            @Html.ActionLink("Nie", "Details", "Match", new{Id=@Model.MatchId}, new{@class="btn btn-danger"})
        </div>
    }
</div>
