@model Domain.Entities.Event

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EventId)

        <div class="form-group">
            @Html.LabelFor(model => model.Time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time)
                @Html.ValidationMessageFor(model => model.Time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatchId, "MatchId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MatchId", String.Empty)
                @Html.ValidationMessageFor(model => model.MatchId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClubId, "ClubId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClubId", String.Empty)
                @Html.ValidationMessageFor(model => model.ClubId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlayerId, "PlayerId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlayerId", String.Empty)
                @Html.ValidationMessageFor(model => model.PlayerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventKindId, "EventKindId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EventKindId", String.Empty)
                @Html.ValidationMessageFor(model => model.EventKindId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
