@model IEnumerable<Domain.Entities.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Club.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kind.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match.MatchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Club.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kind.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match.MatchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
        </td>
    </tr>
}

</table>
