@model Domain.Entities.Club

@{
    ViewBag.Title = "Usuwanie klubu";
}

<h2>Usuwanie klubu @Model.Name</h2>

<h3>Czy jesteś pewny, że chcesz usunąć ten klub?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Klub")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Label("Rozegrane mecze")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Played)
        </dd>

        <dt>
            @Html.Label("Punkty")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @Html.Label("Zwycięstwa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Won)
        </dd>

        <dt>
            @Html.Label("Remisy")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drawn)
        </dd>

        <dt>
            @Html.Label("Porażki")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lost)
        </dd>

        <dt>
            @Html.Label("Bramki zdobyte")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoalsFor)
        </dd>

        <dt>
            @Html.Label("Bramki stracone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoalsAgainst)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Tak" class="btn btn-success" /> 
            @Html.ActionLink("Nie", "Index", null, new{@class="btn btn-danger"})
        </div>
    }
</div>
