@model Domain.Entities.Player

@{
    ViewBag.Title = "Nowy piłkarz dla klubu";
}

<h2>Nowy piłkarz</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.Label("Imię i nazwisko:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Pozycja", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PositionId", String.Empty)
                @Html.ValidationMessageFor(model => model.PositionId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" name="clubId" value="@ViewBag.ClubId"/>
                <input type="submit" value="Dodaj" class="btn btn-success"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót", "Details", "Club", new{Id=ViewBag.ClubId}, new { @class = "btn btn-success" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




