@model Domain.Entities.Player

@{
    ViewBag.Title = "Usuwanie"+@Model.Name;
}

<h2>Usuwanie - @Model.Name</h2>

<h3>Czy jesteś pewny, że chcesz usunąć tego piłkarza?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Klub:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.Name)
        </dd>

        <dt>
            @Html.Label("Pozycja:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Name)
        </dd>

        <dt>
            @Html.Label("Imię i nazwisko:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Tak" class="btn btn-success" /> 
            @Html.ActionLink("Nie", "Index", null, new { @class="btn btn-danger"})
        </div>
    }
</div>
