@model IEnumerable<Domain.Entities.Player>

@{
    ViewBag.Title = "Piłkarze";
}

<h2>Piłkarze</h2>

@{
    if (User.Identity.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Dodaj", "Create", "Player", null, new {@class = "btn btn-success"})
        </p>
    }
}
    <table class="table table-bodered table-striped">
    <tr>
        <th>
            Piłkarz
        </th>
        <th>
            Klub
        </th>
        <th>
            Pozycja
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Club.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Name)
        </td>

        <td>
          
                @Html.ActionLink("Szczegóły", "Details", new {id = item.PlayerId}, new{@class="btn btn-info"})
            @{
    if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Usuń", "Delete", new {id = item.PlayerId}, new {@class="btn btn-danger"})
                }
            }
        </td>
    </tr>
}

</table>
